# Condiguración de base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_DATABASE=tu_basededatos
DB_SCHEMA=tu_squema

# Configuración de pool de conexión
DB_POOL_MAX=20
DB_POOL_MIN=5
DB_POOL_IDLE_TIMEOUT=30000
DB_POOL_CONNECTION_TIMEOUT=2000
DB_POOL_MAX_LIFETIME=600000

# Configuración de servidor
PORT=3000
NODE_ENV=development 